* {
    box-sizing: border-box;
}
body {
    font-family:cursive;
    margin: 0;
    padding: 0;
font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cecbcb;
    padding: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 940px;
    margin-right: 20px;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-center .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header-center .cv-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #022850;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.header-center .cv-button:hover {
background-color: white;
color: #333;
}

.header-right .menu-icon {
    position:fixed;
    top:0px;
    right:0;
    font-size: 30px;
    cursor: pointer;
}

.hamburger-menu {
    position:fixed;
    top: 0;
    right:-100px;
    flex-direction:column;
    display:none;
width:250px;
    background-color: #333;
    transition: right 0.3s ease;
    color: white;
padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    }

.hamburger-menu a {
    display:block;
     color: white;
    text-decoration: none;
    padding: 10px 0;
    margin: 10px 0;
}

#hamburger-menu a:hover {
    background-color: orange;
}


            .column {
    float: left;
    width:50%;
    padding: 10px;
background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
            }


    p {
    margin-left: 20px;
    margin-right: 20px;
    
 }  
 
pre, code {
    margin-left : 10px;
        
    }

 #Ireland, #cat-game, #mustache, #Catwalk, #Chenille, #Papillon, #copieecran, #Mélange, #sql_1 {
     flex-direction: column; 
 }
 
.row:after {
content:"";
display: table;
clear: both;
}

 @media only screen and (max-width:1280px) {
body{
    font-family : monospace;
    font-size:12px;
    
}
 }
    @media only screen and (max-width:1280px) {
    .header-left img  {
       position:relative;
        display:none;
           z-index: 0;
    }
 }
    
 @media only screen and (max-width:1280px) {
 .header-center,.name,.cv-button {
    display:fixed;   
     }
 }

 @media only screen and (max-width:1280px) {
.header-right .menu-icon {
    position:absolute;
    display: block;
    right: 1rem;
    }
    } 
.hamburger-menu {
position:absolute;
    display: none;
right: 3rem;
    }        
    }

 @media only screen and (max-width:1280px) {       
      #Ireland {
width:100%;
height:auto;
display:block;
    }
     }

 @media only screen and (max-width:1280px) {
     #cat-game {
width:100%;
height:auto;
display:block;
     }
 }
 @media only screen and (max-width:1280px) {
#mustache {
width:100%;
height:auto;
display:block;
     }
 }
@media only screen and (max-width:1280px) {
#Catwalk {
    width:100%;
height:auto;
display:block;
}
}

@media only screen and (max-width:1280px) {
#Chenille {
 width:100%;
height:auto;
display:block;
}
}
@media only screen and (max-width:1280px) {
#Papillon {
 width:100%;
height:auto;
display:block;
}
}
@media only screen and (max-width:1280px) {
#copieecran {
     width:100%;
height:auto;
display:block;
}
}

@media only screen and (max-width:1280px) {
#Mélange {
width:100%;
height:auto
display:block;
}
}
@media only screen and (max-width:1280px) {
 #sql_1 {
width:100%;
height:auto;
display:block;
}
}
     
@media only screen and (max-width:1280px) {
pre, code {
    margin-left: 0;
    overflow:hidden;
    display:block;
}
}

   @media only screen and (max-width:1280px) {
     #projets {
         display:none;

     }
 }   
    
   @media only screen and (max-width:1280px) { 
       #hidden {
           display:none; }
   }
   @media only screen and (max-width:1280px) {
#hiddencat {
    display:none; }
   }
   @media only screen and (max-width:1280px) {
#hiddenbutterfly {
    display:none;
}
   }
   @media only screen and (max-width:1280px) {
       #hiddenquizz {
           display:none; }
   }
   @media only screen and (max-width:1280px) {
       #hiddenwords {
           display:none; }
   }   
@media only screen and (max-width:1280px) {
    #sqlhidden {
        display:none; }
}
   @media only screen and (max-width:1280px) {
#présentationhidden {
    display:none;}
   }
    



