
* {
  box-sizing: border-box;
}

body {
  margin:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f4f4f4;
  font-family: Arial, sans serif;
  }

.forme {

  width : 220px;
  height: 220px;
  background: #4CAF50;
  border-radius:25px;
  display: flex;
  justify-content: center;
  align-items:center;
  box-shadow: 0 8px 20px rgba (0,0,0,0.2);
}

.lettre {
  font-size: 300px;
  color : white;
  font-weight:bold;
}

p {
  margin-left : 20px;
  margin-right : 100px;
  
