*{
    box-sizing:border-box;
}
    
body {

    margin: 60px;
    font-family: 'Courier New', Courier, monospace;
    color:black;
}


.grid-container {

    background-color: lightgray;
    display:grid;
    grid-template-rows: 200px auto; /*Top row and main area*/
    grid-template-columns:1fr 2fr; /* Two equal-width columns*/
/*Space between items*/
margin:10px;
}




i {
    margin: 10px;
}
.item1 {
    grid-column: span 2; /* Item1 spans both columns */
background-color: lightsteelblue;
text-align: left;
color:black;

}

 #Me {
    float: left;
   width:220px;
   height: 220px;
   border-radius: 120px;
   border: 2px solid white;
}

   #Me:hover {
    width:240px;
    height:240px;
    border: radius 140px;
    cursor: pointer;
    } 

li {
    margin-left:20px;
}

.item2 {
    background-color:lightgrey;
    margin: 20px;
    padding: 10px;
    text-align:left;
}
.item3 {
    background-color: white;
    margin:20px;
    padding: 10px;
    text-align: left;
}
h1,h2, h3 {
    font-weight: bold;
}
