*{
    box-sizing:border-box;
}
    
body {

    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
}


.grid-container {

    background-color: lightgray;
    display:grid;
    grid-template-rows: 200px auto; /*Top row and main area*/
    grid-template-columns:1,5fr 3fr; /* Two equal-width columns*/
/*Space between items*/
margin:10px;
}




i {
    margin: 10px;
}
.item1 {
    grid-column: span 2; /* Item1 spans both columns */
background-color: lightsteelblue;
text-align: center;
color:black;

}

 #Me {
    float: left;
   width:220px;
   height: 220px;
   border-radius: 120px;
   border: 2px solid white;
}

   #Me:hover {
    width:240px;
    height:240px;
    border: radius 140px;
    cursor: pointer;
    } 

.item2,.item3 {
    background-color: grey;
    margin:20px;
    padding: 10px;
    text-align: left;
    
}
